@page "/states"
@layout MainLayout
@inherits FemiFriendsApp.Pages.StatesComponent

@using Radzen
@using Radzen.Blazor
@using FemiFriendsApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="States">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getStatesResult" TItem="FemiFriendsApp.Models.ConData.State" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="FemiFriendsApp.Models.ConData.State" Property="StateID" Title="State ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="FemiFriendsApp.Models.ConData.State" Property="StateName" Title="State Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="FemiFriendsApp.Models.ConData.State" Property="CountryID" Title="Country ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="FemiFriendsApp.Models.ConData.State" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="femiFriendsAppModelsConDataState">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, femiFriendsAppModelsConDataState))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
